body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.cell {
    display: flex;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
}
#restart-button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 3px;
}