p {
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
    margin-top: 10px;
}

.display-block {
    display: block;
    height: 200px;
    background-color: blue;
    border: 1px solid #000;
}

.display-inline {
    display: inline;
    background-color: green;
    border: 1px solid #000;
}

.display-inline-block {
    display: inline-block;
    background-color: pink;
    border: 1px solid #000;
    margin-top: 30px;
}