body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-flutuante {
    float: left;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.subtitulo {
    clear: both;
}