.header{
    background-color: yellow;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border: solid 1px #000;
    padding: 10px;
    font-size: 20px;
}

.relative {
    background-color: aquamarine;
    position: relative;
    height: 100px;
}

.absolute {
    position: absolute;
    height: 50px;
    background-color: coral;
    top: 0px;
    right: 10px;
    width: 20px;
}

.fixed {
    width: 50px;
    height: 50px;
    background-color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
