.container {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: bold;
    display: flex;
    height: 300px;
    width: 300px;
    /*row row-reverse*/
    /*col col-reverse*/
    flex-direction: row;
    /*left right center flex-start flex-end*/
    /*space-between space-around space-evenly*/
    justify-content: space-evenly;
    /*alinhamento vertical eixo y*/
    /*flex-start flex-end*/
    /*flex-start flex-end*/
    /*stretch = valor padrão*/
    align-items: center;
    /*nowrap não quebre a linha*/
    /*wrap quebre a linha*/
    flex-wrap: wrap;
    /*Alinhamento dos itens com relação à quebra de linha*/
    /*center flex-start flex-end*/
    /*flex-start flex-end*/
    /*stretch = valor padrão*/
    align-content: space-evenly;
    /*gap: 10px;*/
    /*column-gap: 10px;*/
    /*row-gap: 10px;*/
}

.box {
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    /*height: 50px;*/
    /*width: 50px;*/
    border-radius: 3px;
}

#box1 {
    background-color: seagreen;
    flex-grow: 1;
}

#box2{
    background-color: steelblue;
    flex-grow: 2;
}

#box3{
    background-color: bisque;
    flex-grow: 1;
}
